@font-face {
	font-family: metropolis;
    src:url('font/Metropolis-master/Metropolis-Black.otf')
}
@font-face {
	font-family: metropolisMed;
    src:url('font/Metropolis-master/Metropolis-Regular.otf')
}
@font-face {
	font-family: metropolisIt;
    src:url('font/Metropolis-master/Metropolis-BlackItalic.otf')
}
@font-face {
	font-family: metropolisLt;
    src:url('font/Metropolis-master/Metropolis-Light.otf')
}
.hide19{
    display: none!important;
}
.mapback{
    background-image: url(img/new18/club.jpg);
    background-size: cover;
    background-position: center;
}
.aboutBox.collapsed {
  max-height:0px;
    border:none!important;
    -webkit-transition: ease all 2s;
    transition: ease all 2s;
    overflow: hidden;
}
.aboutBox a{
    font-family: metropolis;
    text-transform: uppercase;
    display: block;
    width:100%;
    text-align: left;
    font-size: 5vw;
    color:white;
    -webkit-transition: ease all .3s;
    transition: ease all .3s;
    margin-bottom: 10px;
    padding-left:5vw;
    cursor: pointer;
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}
/*
.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
}
*/
.fadeInSlow {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}
.fadeInRightSlow {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
body{
    font-family: metropolisMed;
    background-color: rgb(85,85,85);
}
.navbar{
    border-radius: 0px;
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
    margin:0px;
    z-index: 1000;
    background-color: transparent;
    -webkit-transition:ease all .3s;
    transition:ease all .3s;
/*
    -webkit-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
*/
    border: none;
}
.navbarFill{
    background-color: rgba(0,0,0,.85);
    -webkit-transition:ease all .3s;
    transition:ease all .3s;
}
.navbar ul{
    margin-top:45px;
}
.navbar-brand{
    padding:2px;
    height:80px;
}
.navbar .navbar-left>li>a{
    font-size: 16px!important;
}
.navbar ul>li>a{
    font-size: 16px;
    color: white!important;
    padding-bottom: 0px;
    -webkit-transition: ease all .3s;
    transition: ease all .3s;
    text-transform: uppercase;
    font-family: metropolisMed!important;
    padding-top: 5px!important;
}
.navbar ul>li>a:hover{
    color:white!important;
}
.navbar-brand>img{
    height:100%;
    display: inline-block;
    margin-left:10px;
    padding-top: 5px;
    margin-top: 5px;
}
@media(max-width:1199px){
    .navbar-brand>img{
        height:100%;
        display: inline-block;
        margin-left:10px;
        padding-top: 0px;
        margin-top: 0px;
    }
    a.locSubmitc{
        display: block;
        width:64vw;
        margin-left:0!important;
        margin-top: 10px;
    }
    .clubTop h1{
        margin-bottom: -10px;
    }
}
.navbar-left>li{
    line-height: 33px;
    height: 33px;
    vertical-align: middle;
    color: white!important;
}
.navbar-left>li span{
    font-size: 24px;
    font-weight: 900;
    line-height: 33px;
    height: 33px;
    display: inline-block;
    margin: 0;
    padding: 0;
    padding-left:5px;
    padding-right: 5px;
    color:transparent;
    vertical-align: middle;
    -webkit-transition: ease all .75s;
    transition: ease all .75s;
}
.navbar-left>li:hover span{
    color: rgb(254,0,0);
}
#franBTN{
    color:white;
    border-bottom: 5px solid rgb(254,0,0);
    position: fixed;
    top:10px;
    right:0px;
    font-size: 16px;
    padding-left:0px;
    padding-right:15px;
    cursor: pointer;
    font-family: metropolis;
    letter-spacing: .5px;
    text-decoration: none!important;
    -webkit-transition: ease all .3s;
    transition: ease all .3s;
    text-transform: uppercase;
}
#franBTN:hover{
    color:rgb(254,0,0)!important;
}
.header{
    padding-top:0;
    padding-bottom: 0;
    text-align: center;
/*    background-image:url(img/new18/header.jpg);*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
/*
    -webkit-box-shadow: inset 0px -100px 100px -20px rgba(255,255,255,1);
    box-shadow: inset 0px -100px 100px -20px rgba(255,255,255,1);
*/
    position: relative;
    height: auto;
    z-index: 499!important;
    min-height: 55vh;
}
.header>img{
    right:0px;
    position: absolute;
    bottom: 0;
    width:500px;
    z-index: 500;
}
.deskTrial{
    position: absolute;
    right:3vw;
    bottom: 3vw;
    background-color: white;
    width:auto;
    padding:20px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,.5);
    box-shadow: 0 0 15px rgba(0,0,0,.5);
    z-index: 202;
    padding-bottom: 10px;
    border-top:6px solid red;
    border-bottom: 6px solid red;
}
.deskTrial>img{
    width:7vw;display: block;margin: 0 auto;
}
.deskTrial>span{
    font-family: metropolis!important;
    text-transform: uppercase;
    font-size: 1.5vw;
    margin:.75vw;
    margin-top: 0;
    display: block;
}
.deskTrial>p{
    font-family: metropolisMed!important;
    font-size: .65vw;
    display: block;
    margin-top:1vw;
    text-align: center;
    width:100%;
}
.mobTrial{
    position: absolute;
    background-color: white;
    width:90%;
    left:5vw;
    top:-20vw;
    margin:0 auto;
    border-radius: 10px;
    display: block;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,.5);
    box-shadow: 0 0 15px rgba(0,0,0,.5);
    z-index: 505;
    padding-bottom: 5px;
    border-top:6px solid red;
    border-bottom: 6px solid red;
}
.mobTrial>img{
    width:27vw;display: block;margin: 0 auto;
    margin-top:15px;
}
.mobTrial>span{
    font-family: metropolis!important;
    text-transform: uppercase;
    font-size: 6.5vw;
    margin:.75vw;
    margin-bottom:2vw;
    display: block;
    width:100%;
    text-align: center;
}
.mobTrial>p{
    font-family: metropolisMed!important;
    font-size: 3vw !important;
    display: block;
    margin-top:4vw;
    text-align: center;
    width:100%;
}
.mobileNav{
    display: none;
    position: fixed;
    left:0px;
    top:0px;
    height:100vh;
    width:100%;
    z-index: 1000;
    background-color:black;
    overflow: scroll;
}
.mobileWrap{
    margin-top:80px;
    padding-left: 20px;
    padding-right:20px;
    text-align: center;
}
.mobileWrap>a{
    font-family: metropolis;
    text-transform: uppercase;
    display: block;
    width:100%;
    text-align: left;
    font-size: 8vw;
    border-bottom: 2px solid red;
    color:white;
    -webkit-transition: ease all .3s;
    transition: ease all .3s;
    margin-bottom: 20px;
    cursor: pointer;
}
.mobileWrap>.mobileFran{
    color:rgb(254,0,0);
    border-bottom: 2px solid white;
}
#aboutMob{
    height:0;
    background-color:transparent;
    display: none;
}
.openAbout{
    height: auto;
    display: inline-block;
}
#aboutDesk{
    display: none;
    position: fixed;
    left:52vw!important;
    width:200px;
    top:95px;
    z-index: 1001;
    background-color: rgba(0,0,0,.85)!important;
    -webkit-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
    padding-bottom: 0px;
}
.aboutLink{
    display: block;
    text-align: right;
    padding:10px!important;
    padding-right:20px;
    font-family: metropolisMed!important;
    color:white;
    font-size: 16px;
    text-transform: uppercase;
    -webkit-transition: ease all .3s;
    transition: ease all .3s;
    cursor: pointer;
    text-decoration: none!important;
}
.aboutLink:hover{
    color:rgb(255,0,0);
}
.strongspan{
    color:black;
    margin-top:90px;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 0px;
    font-size: 70px;
    font-family: metropolisLt;
    letter-spacing: 5px;
}
.changing{
    font-size: 230px;
    font-family: metropolis;
    color:rgb(254,0,0);
    line-height: 220px;
}
#app{
    color:black;
    font-size: 175px;
    letter-spacing: 5px;
    padding-left:5px;
    padding-right:5px;
}
.changing>div{
    color:black;
    font-size: 140px;
    letter-spacing: 5px;
}
.redBTN{
    background-color: rgb(254,0,0);
    color:white;
    border:2px solid rgb(254,0,0);
    font-size: 25px;
    font-family: metropolis;
    padding-top:12px;
    padding-bottom: 10px;
    padding-left:20px;
    padding-right: 20px;
    cursor:pointer;
    text-decoration: none!important;
    -webkit-transition: ease all .3s;
    transition: ease all .3s;
    text-transform: uppercase;
}
.redBTN:hover{
    color:rgb(254,0,0);
    background-color: transparent;
}
.redBTN>span{
    color: black;
    font-size: 26px;
}
.lefty{
    text-align: left!important;
}
.lefty .redBTN{
    width:222px!important;
    display: inline-block;
    line-height: 100%;
    padding-left: 0px!important;
    padding-right: 0px!important;
    max-height:46px!important;
    vertical-align: top;
}
.lefty .redBTN>span{
    line-height: 20px!important;
}
.btnsplit{
    height:20px;
    display: none;
}
.try{
    color:rgb(254,0,0)!important;;
    margin-top:20px;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 0px;
    font-size: 80px;
    font-family: metropolisLt;
    letter-spacing: 3px;
    line-height: 100px;
    text-decoration: none!important;
    margin-bottom: 100px;
}
.try>span{
    color:black;
    font-size:70px; 
    text-decoration: none!important;
}
.locTRY{
    color:black!important;
    background-color: rgb(254,0,0);
    line-height: 100%;
    display: inline-block;
    padding:5px;
    font-size: 50px;
}
.locTRY>span{
    color:white;
}
.locTRY:hover{
    
}
.vidDiv2{
    background-color: white;
/*
    -webkit-box-shadow: 0px 30px 120px 50px white;
    box-shadow: 0px 30px 120px 50px white;
*/
    z-index: 100;
    position: relative;
    display: block;
}
.levelup{
    text-transform: uppercase;
    font-size: 100px;
    display: block;
    line-height: 90px;
    width:100%;
    overflow: visible;
    font-family: metropolis;
    letter-spacing: 5px;
    color:black;
}

@media (min-width:1920px){
    .vidDiv2 p{
        font-size: 35px!important;
    }
}
.vidDiv2 p{
    font-size: 30px;
    padding-right: 10px;
    padding-left:10px;
}
#playbtn{
    position: absolute;
    bottom:6px;
}
.showvid{
    display:inline-block;
}
.hide{
    display: none;
}
.imgCol{
    
}
.imgCol>img{
    width:80%;
    display: inline-block;
    margin-left:10px;
    position: absolute;
    left:0px;
    top:-17vw;
}
#homevid{
    width:100%;
}
.coverIMG{
    position: absolute;
    left:0px;
    bottom:10px;
    z-index: 49;
    width:100%;
}
.botLeft{
    position: absolute;
    bottom:0px;
    left:0px;
    z-index: 50;
}
.motivated{
    min-height: 90vh;
    background-image: url(img/new18/girl2.png);
    background-size:cover;
    background-position: top;
    z-index: 2;
/*    overflow: hidden;*/
    position: relative;
    padding-left: 100px;
    margin-top:-50px;
}
#keep{
    color:white;
    font-size: 60px;
    font-weight: 900;
    font-family: metropolis;
    text-shadow: .5px .5px .5px black;
    line-height: 50px;
    text-transform: uppercase;
    width:100%;
    max-width: 900px;
}
#tryus{
    color:white;
    font-size: 60px;
    font-weight: 900;
    font-family: metropolis;
text-shadow: .5px .5px .5px black;
    line-height: 50px;
    text-transform: uppercase;
}
#gloveIMG{
    position: absolute;
    right:0px;
    bottom: -300px;
    z-index: 100;
    width:700px;
    display: inline-block; 
    z-index: 305!important;
}
#levelUpImg{
    
}
.greyBack1{
    background-color:rgb(85,85,85);
    height:150px;
    position: relative;
}
.greyBack2{
    background-color:rgb(85,85,85);

}
.success{
    height:80vh;
}
.success>.left{
    height:100%;
    width:54%;
    display: inline-block;
    background-image: url(img/new18/success2.png);
    background-position: right;
    background-size: cover;
}
.success>.right{
    height:100%;
    width:45.5%;
    margin-left:-5px;
    display: inline-block;
    background-color: rgb(85,85,85);
    position: relative;
}
.rightWrap{
    display: inline-block;
    position: absolute;
    right:0px;
    top:0px;
    width:100%;
    text-align: center;
    padding-top:150px;
    padding-right:100px;
}
.rightWrap>span{
    color:white;
    font-size: 140px;
    font-weight: 900;
    font-family: metropolis;
    line-height: 120px;
    display: block;
    float: right;
    text-align: left;
}
.rightWrap>.span1{
    display: block;
    width: 100%;
}
.rightWrap>.span2{
    display: block;
    width: 100%;
}
.successP{
    color:white;
    font-family: metropolisLt;
    font-size: 30px;text-align: left;
    width:100%;
    display: block!important;
    margin-top:10px;
}
.try2{
    color:rgb(254,0,0)!important;
    margin-top:20px;
    display:block;
    width:100%;
    text-align: left;
    margin-bottom: 0px;
    font-size: 40px;
    font-family: metropolisLt;
    line-height: 60px;
    float: left;
}
.try2>span{
    color:white;
    font-size:35px;  
}
.try3{
    text-shadow: .5px .5px .5px black;
    color:rgb(254,0,0)!important;
    margin-top:0px;
    display: inline-block;
    margin-bottom: 0px;
    font-size: 100px;
    font-family: metropolis;
    line-height: 120px;
    float: left;
    text-align: center;
    width: 100%;
    max-width: 
}
.try3>span{
    color:white;
    font-size:90px;  
    font-family: metropolis;
}
.blackBack{
    background-color:black;

}

.redline{
    width:60%;
    border-top:20px solid red;
}
.tryFree{
    background-color: transparent;
    position: relative;
    margin-top:-13vw;
    z-index: 302;
}
.tryFree>img{
    width:100%;
}
.freeBox{
    position: absolute;
    display: inline-block;
    right:0px;
    bottom:0px;
    text-align: center;
    padding:40px;
}
.lrbFooter{
    background-color: black;
    padding-top:20px;
    padding-bottom:20px;
}
.share{
    font-family: metropolis;
    color:white;
    padding-top:40px;
    padding-left:60px;
    text-transform: uppercase;
}
.share>span{
    font-size: 20px;
    display: block;
}
.icons a{
    color:white;
    -webkit-transition: ease all .3s;
    transition: ease all .3s;
}
.icons a:hover{
    color:red;
}
.stores{
    padding-top:30px;
    padding-left:100px;
    margin-bottom: 40px;
}
.stores>a{
    display: block;
    width:150px;
}
.stores>a>img{
    width:150px;
}
.bottomlink{
    color:white;
    -webkit-transition: ease all .3s;
    transition: ease all .3s;
    font-family: metropolisMed;
    text-transform: uppercase;
    margin-top:20px;
    padding-left: 28px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none!important;
}
.bottomlink:hover{
    color:red;
}
.Typewriter__cursor{display: none!important;}
.mobFran{
    display: none;
}
.redline2{
    display: inline-block;border-top:10px solid rgb(254,0,0);width:400px;margin-top:10px;
    margin-bottom: 30px;
}
.mobIMGlevel{
    width:80px;
    display: none;
    position: absolute;
    top:-140px;
}
.hamburger{
    display: none;
    position: absolute;
    left:10px;
    top:6px;
    font-size: 40px;
    color:white!important;
    cursor: pointer;
}
.hamburgerX{
    display: inline-block;
    font-family: metropolisMed;
    position: absolute;
    left:10px;
    top:6px;
    font-size: 40px;
    color:white!important;
    text-decoration: none!important;
    cursor: pointer;
}
.phone{
    display: none;
    position: fixed;
    right:10px;
    top:9px;
    font-size: 35px;
    z-index: 1010;
    color:white!important;
}
.copy{
    color:white!important;
    width: 100%;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    font-family: metropolis;
    padding:10px;
}
.copy>a{
    color:white;
    cursor: pointer;
}
.lvlWrap{
    position: relative;
}
.lvlreg{
    font-family:metropolisMed;
    text-shadow: .5px .5px .5px black;
    width:100%;
    font-size: 3vw;
    color: white;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
}
.bracket{
    font-family: metropolis!important;
    width:100%;
    font-size: 9vw;
    color: rgb(254,0,0);
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    margin:0px;
    line-height:8vw;
    margin-bottom: .5vw;
}
.bracket>span{
    color: white;
    font-size: 7.5vw;
}
.leftIMGlvl{
    position: absolute;
    left:-1vw;
    bottom:0px;
    height:35vw;
    z-index: 105;
}
.rightIMGlvl{
    position: absolute;
    right:-1vw;
    bottom:0px;
    height:37vw;
    z-index: 105;
}
.lvltext>span{
    color:white;
    text-shadow: .5px .5px .5px black;
    font-size: 4vw;
}
.lvltext>p{
    margin: 0;
    margin-top:2px;
    color: white;
    font-size: 2.5vw;
    line-height: 105%;
    text-shadow: .5px .5px .5px black;
}
.redBTNlvl{
    background-color:rgb(254,0,0);
    color: white;
    border: 1px solid rgb(254,0,0);
    -webkit-transition: ease all .3s;
    transition: ease all .3s;
    cursor: pointer;
    padding:1vw!important;
    font-size: 2vw;
    line-height: 100%;
    display: inline-block;
    line-height: 20px;
}
.redBTNlvl:hover{
    background-color: transparent;
}
.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
/*
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
*/
}
.news{
    float:left;
    position: relative;
    width: 30%;
    padding-bottom: 30%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    margin-top:0px;
    overflow:hidden;
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 0.3s ease-in-out;
    opacity:.5;
    color:transparent;
}

.newsTitle{
    float:left;
    width: 30%;
    margin:1.66%;
    margin-bottom:0%;
    overflow:hidden;
    display:inline;
    font-size:10px;
}

.erieNow{
    background-image: url(img/news/erieNewsNow.jpg);
    background-size: cover;
}

.goErie{
    background-image: url(img/news/goErie.jpg);
    background-size: cover;
}

.news:hover{
    -webkit-filter: grayscale(0%);
    cursor:pointer;
    opacity:1;
    color:white;
}

/*new workout flip divs*/

.flip-card {
  background-color: transparent;
    height: 32vw;
    width: 100%;
    display: inline-block;
  -webkit-perspective: 1000px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
.resultswrap .col-sm-4{
        padding:.5vw;
    }

.flip-card img{
    width:100%;
    -webkit-box-shadow: 0px 0px 2vw rgba(20,20,20,.5);
    box-shadow: 0px 0px 2vw rgba(20,20,20,.5);
}
/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: transparent;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: transparent;
  color: black;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
/* OUR PARTNERS */
.partnerBox{
    width:calc(32% - 50px);
    margin:25px;
    text-align: center;
    display: inline-block;
    
    border-radius: 10px;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.5);
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    border-top:6px solid red;
    border-bottom: 6px solid red;
}
.partnerBox img{
    margin-top:5px!important;
    max-width: 95%!important;
    width: auto;
}
.partnerBox .partBTN{
    color:white;
    background-color: rgb(254,0,0);
    width:200px;
    max-width: 90%;
    display: inline-block;
    margin:10px;
    line-height: 35px;
    margin-bottom: 0;
    padding-top:3px;
    border:1px solid rgb(254,0,0);
    -webkit-transition: ease all .3s;
    transition: ease all .3s;
    cursor: pointer;
}
.partnerBox .partBTN:hover{
    background-color: white;
    color: rgb(254,0,0);
}
.partnerBox p{
    font-size: 10px;
    width:100%;
    text-align: center;
    margin:0;
    margin-bottom: 10px;
}
.gifttext{
    font-family: metropolis;
    text-transform: uppercase;
    color:white;
    font-size: 35px;
    width:100%;
    display: block;
    text-align: center;
    margin:0;
    line-height: 125%;
}
.giftbox{
    text-align: center;
}

/*Free bar*/
        .newBar{
            background-image: url(img/new19/red-color-fade2.png);background-size: cover;position: fixed;z-index: 505;bottom:0;left:0;width:100%;text-align: center;
            background-position: center;
            height:50px;
            -webkit-box-shadow: 0px 3px 18px 0px rgba(66,66,66,1);
box-shadow: 0px 3px 18px 0px rgba(66,66,66,1);
            -webkit-transition: ease all .5s;
            transition: ease all .5s;
        }
        .bigBar{
            height: 200px!important;
            -webkit-transition: ease all .5s;
            transition: ease all .5s;
        }
        .newBar img{
            display: block;
            margin:0 auto;
            height:50px;
            padding:5px;
        }
        #zipSearch{
            color: white;
            background-color: red;
            font-weight: 500;
            font-size: 20px;
            padding:8px;
            padding-left:12px;
            padding-right: 12px;
            -webkit-box-shadow: 0 0 5px rgba(10,10,10,.3);
            box-shadow: 0 0 5px rgba(10,10,10,.3);
            margin-left:10px;
            cursor: pointer;
            text-decoration: none!important;
        }
        #zipInput{
            font-size: 20px;
            padding:5px;
            display: inlin-block;
            margin:0 auto;
            width:150px;
        }
        .fadefade{
            -webkit-animation-duration: .5s;
            animation-duration: .5s;
        }
        @media (max-width:600px){
            #zipP{
                font-size: 13.5px!important;
                margin-top:10px!important;
            }
            .bigBar{
                height:200px!important;
            }
        }

@media (min-width:1200px){
    .giftbox>img{
        width:80%!important;
    }
}
@media (max-width:1199px){
    .gifttext{font-size:25px;}
    .giftimg{max-height: 30px;}
}
@media (max-width:1600px){
    .imgCol>img{
        top:-18vw; 
        width:85%;
    }
}
@media (max-width:1599px){
    .btnsplit{
        display: block;
    }
    .header>img{
        width:400px;   
    }
    .rightWrap>span{
        font-size: 100px;
        line-height: 100px;
        text-align: left;
    }
    .try2{
        font-size: 30px;
        display: block;
        width: 100%;
        text-align: left;
        margin-top:5px;
        margin-bottom: 5px;
    }
    .try2>span{
        font-size: 26px;
    }
    .successP{
        font-size: 26px;
    }
    .col-lg-7>p{
        font-size: 28px;
    }
    #gloveIMG{
        width:600px;
    }
}
@media (max-width:1499px){
    .success>.left{
        width:60%;
    }
    .success>.right{
        width:40%;
    }
    .rightWrap{
        padding-right:15px;
    }
    .levelup{
        font-size: 80px;
        line-height: 85px;
    }
    #gloveIMG{
        width:450px;
        bottom:-210px;
    }
}
@media (max-width:1399px){
    .header>img{
        width:350px;   
    }
    .vidDiv2 p{
        font-size: 25px;
    }
    #gloveIMG{
        width:400px;
       bottom:-150px;
    }
}
.space1{
    height:100px;
}
@media (max-width:1299px){
    .vidDiv2 p{
        font-size: 25px;
    }
    .space1{
    height:100px;
}
    .imgCol>img{
        top:-15vw; 
        width:90%;
    }
}


.findYourStudio{
    position: fixed;
    top:82px;
    right:0px;
    z-index:1000;
    color: white!important;
    background-color: rgba(100,100,100,.7);
    padding-top:7px;
    padding-left:15px;
    padding-right: 15px;
    padding-bottom: 5px!important;
    font-weight: bold;
    -webkit-transition:ease all .3s;
    transition:ease all .3s!important;
    font-size: 15px;
    text-decoration: none!important;
    -webkit-transition: ease all .3s;
        transition: ease all .3s;
}
.findYourStudio:hover{
    background-color: black;
}
@media (max-width:1199px){
    .findYourStudio{
        top:61px;
    }

    .lrbFooter .col-sm-12{
        text-align: center;
        margin-top:20px;
    }
    .col-sm-12>.botHome{
        padding-left:0px;
    }
/*
    #deskBag{
        display: none;
    }
*/
    
    .imgCol>img{
        width:350px;
        top:-180px;
        left:-30px;
    }
    .mobIMGlevel{
        display: inline-block;
    }
    .navbar-right{
        display: none;
    }
    .navbar-left{
        display: none;
    }
    #franBTN{
        display: none;
    }
    .mobFran{
        display: inline-block;
        position: absolute;
        bottom:0px;
        left:calc(50% + 60px);
        color:white;
        border-bottom:5px solid red;
        font-size: 10px;
        font-family: metropolis;
        text-transform: uppercase;
    }
    .hamburger, .phone{
        display: inline-block;
    }
    .space1{
    height:100px;
}
    .levelup{
        padding-bottom: 50px;
        margin-top: -50px;
        padding-left:290px;
        font-size: 60px;
        line-height: 60px;
    }
    .your{
        margin-bottom: -50px;
    }
    .redline2{
        margin-left:290px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .col-lg-7>p{
        padding-left:300px;
    }
    #gloveIMG {
        bottom:-150px;
        width:400px;
    }
    .redline{
        width:100%;
    }
    .motivated{
/*        min-width: 50vh;*/
    }
    .greyBack1{
        height:100px;
        margin-bottom: 0px;
        margin-top:0px;
    }
    .success{
        height:auto;
        padding-bottom: 50px;
    }
    
    .success>.left{
        width:100%;
        height:500px;
        background-position: center;
    }
    .success>.right{
        width:100%;
    }
    .rightWrap{
        display: block;
        position: inherit;
        height:auto!important;
        padding-top:30px;
        padding-left:15px;
        padding-right:15px;
       -webkit-box-shadow: 0px -45px 93px 21px rgba(85,85,88,1);
box-shadow: 0px -45px 93px 21px rgba(85,85,88,1);
    }
    .rightWrap>span{
        font-size:70px;
        line-height: 70px;
    }
    .navbar-brand>img{
        margin-left:0px;
    }
    .navbar-brand{
        height:65px;
        position: absolute;
        left:calc(50% - 76px);
        top:-2px;
    }
    .navbar{
        min-height: 61px;
    }
}
@media (max-width:1099px){
    .header>img{
        width:300px;   
        bottom: 50px;
    }
    #app{
        font-size: 100px;
    }
    .changing{
        font-size: 130px;
        line-height:130px;
    }
    .strongspan{
        font-size:50px;
        margin-top:100px;
    }
    .try{
        font-size: 60px;
        margin-top:40px;
    }
    .try>span{
        font-size: 50px;
    }
    .try3{
        font-size: 60px;
        line-height: 60px;
        margin-top:0px;
        margin-bottom: 10px;
    }
    .try3>span{
        font-size: 50px;
    }
    #keep{
        text-align: center;
        
        font-size:40px;
    }
    .motivated{
        padding-left:20px;
        padding-right:20px;
    }
    .successP{
        font-size:20px;
    }
    .greyback1{
        height:300px;
    }
}
@media (max-width:1000px){
    .mobIMGlevel{
        top:0px;
    }
    .col-lg-7>p{
        padding-left:250px;
        font-size: 30px;
        margin-bottom: 10px;
    }
    .levelup{
        font-size: 40px;
        line-height: 40px;
        padding-left:230px;
    }
    .redline2{
        margin-left:230px;
    }
    .imgCol>img{
        width:30%;
        top:-10vw;
        left:-15px;
    }
    #gloveIMG {
        bottom:-150px;
    }
    .col-lg-6{
        padding:0px;
    }
}
@media (max-width:991px){
    .gifttext{font-size:20px;}
    .giftimg{max-height: 30px!important;}
}
@media (max-width:899px){
    
    .partnerBox{
        display: block!important;
        width:400px;
        max-width: 98%!important;
        margin:0 auto;
        margin-bottom: 25px;
    }
    .strongspan{
        font-size: 30px;
    }
    #app{
        font-size: 60px;
    }
    .changing{
        font-size: 80px;
        line-height:80px;
    }
    .redBTN{
        font-size: 3.5vw;
    }
    .try{
        font-size: 35px;
        margin-top:40px;
        margin-bottom: 50px;
    }
    .try>span{
        font-size: 30px;
    }
    .levelup{
        font-size:35px;
    }
.header{
        padding-bottom: 0;
    }
}
.linespace{
    height:15px;
}
@media (max-width:799px){
    
    #gloveIMG {
        bottom:-70px;
        width:320px;
    }
}
#space1{
    margin-top:400px;display: inline-block;text-align: center;
}
@media (max-width:768px){
    .motivated{
        min-height: 600px;
        background-position:70%;
    }
    #space1{
        margin-top:250px;
    }
    .header>img{
        bottom:0px;
    }
/*
    .header{
        min-height: 800px;
    }
*/
}
@media(min-width:768px){
    .resultswrap .col-sm-4{
        padding:2vw;
    }
}
.mobTrial{
    display: none;
}
@media (max-width:768px){
    .deskTrial .redBTN{
        font-size: 20px!important;
    }
    .deskTrial span{
        font-size: 10px!important;
        margin-bottom: 10px!important;
    }
}
@media (max-width:767px){
    
    .deskTrial{
        display: none;
    }
    .mobTrial{
        display: block!important;
    }
    .flip-card{
        height:97vw;
    }
    .tiles{
        padding-left:5vw!important;
        padding-right:5vw!important;
        padding-top:4vw!important;
        padding-left:5vw!important;
    }
    .flip-card img{
        -webkit-box-shadow: 0px 0px 5vw rgba(20,20,20,.5);
        box-shadow: 0px 0px 5vw rgba(20,20,20,.5);
    }
    .lvlspace{
        height:61px;
    }
    #gloveIMG{
        width:300px;
        bottom:-100px;
    }
    .motivated{
        min-height:600px;
        text-align: center;
    }
    .share{
        padding-left: 30px;
    }
    .stores{
        padding-left: 15px;
        text-align: center;
    }
    .stores>a{
        display: inline-block;
    }
    .findYourStudio{
        top:61px;
    }
    #try3mot{
        margin-top:5px;
        margin-bottom: 25px;
    }
}
@media (max-width:650px){
    .redBTNlvl{
        font-size: 3vw;
        padding-bottom: 0px!important;
    }
    .greyBack1{
        height:20px;
    }
    .levelup{
        font-size: 30px;
        line-height: 35px;
    }
    .col-lg-7>p{
        font-size: 24px;
    }
    .header>img{  
/*        bottom: -15px;*/
        width:200px;
    }
    .mobIMGlevel{
        top:-50px;
    }
    .redline2{
        padding-top:0px;
        margin-top:0px;
        width: 75%;
        max-width:250px;
    }
    .freeBox{
        padding:0px;
    }
    .motivated{
        background-position: 50%;
        min-height: 700px;
    }
    .success>.left{
        height:400px;
        background-size: cover;
    }
    #gloveIMG{
        bottom:-80px;
        width:250px;
    }
/*
    .header{
        height:95vh;
    }
*/
    
}
@media (max-width:599px){
    .gifttext{
        font-size: 14px;
    }
    .strongspan{
        font-size: 24px;
        font-family: metropolisMed;
    }
    .try{
        font-size: 28px;
        line-height: 40px;
        font-family: metropolisMed;
    }
    .try>span{
        font-size: 24px;
    }

    .vidDiv2 p{
        font-size:20px;
    }
    .linespace{
        height:5px;
    }
    .mobIMGlevel{
        width:70px;
    }
    .levelup{
        font-size: 30px;
        line-height: 30px;
        
    }
    .tryFree{
        overflow: hidden!important;
        margin-top:-16.5vw;
    }
    .tryFree>img{
        width:130%;
    }
    #playbtn{
        bottom:6px;
    }
}
@media (max-width:515px){
    .col-lg-7>p{
        margin-bottom: 30px;
    }
    #keep{
        font-size: 25px;
    }
    .try3{
        font-size:26px;
        line-height: 26px;
    }
    .try3>span{
        font-size:24px;
        line-height: 26px;
    }
    .try2{
        font-size:24px;
        line-height: 26px;
    }
    .try2>span{
        font-size:22px;
        line-height: 26px;
    }
    .motivated{
        background-position: 53%;
        min-height: 600px;
    }
    #gloveIMG{
        width:200px;
        bottom:-50px;
    }
}
@media (max-width:475px){
    .levelup{
        font-size: 28px;
        line-height: 25px;
        letter-spacing: 2px;
    }
    .vidDiv2 .col-lg-9{
        padding-top:25px;
    }
    .mobIMGlevel{
        top:-45px;
    }
    .changing{
        font-size:55px;
        line-height: 55px;
        margin-top:10px;
    }
    .changing span{
        font-size: 45px;
    }
    .try{
        margin-top:10px;
    }
    .try2{
        font-size:22px;
        line-height: 26px;
    }
    .try2>span{
        font-size:20px;
        line-height: 26px;
    }
    .imgCol>img{
        display: none;
    }
    .redline2{
        margin-left:0px;
    }
    .levelup{
        padding-left:0px;
    }
    .col-lg-7>p{
        padding-left:13px;
    }
    #space1{
        margin-top:200px;
    }
}
@media (max-width:449px){
    #gloveIMG{
        bottom:-80px;
    }
    .giftimg{
        height:20px!important;
    }
    #levelup{
        margin-top:-10px;
    }
}
@media (max-width:420px){
    .strongspan{
        font-size: 20px;
        margin-top:60px;
    }
    #keep{
        line-height: 120%;
        font-size: 24px;
    }
    .motivated .try3{
        margin-top:0px;
    }
    .motivated{
        padding-left:5px;
        padding-right:5px;
    }
    #gloveIMG{
        bottom:-30px;
    }
    
}
@media (max-width:413px){
    .bottomlink{
        font-size: 15px;
    }
    .gifttext{
        font-size: 12px;
    }
}
@media (max-width:399px){
    .vidDiv2 p{
        font-size: 16px;
        margin-bottom: 10px;
    }
    .successP{
        font-size:16px;
    }
    .try2{
        font-size:20px;
        line-height: 26px;
    }
    .try2>span{
        font-size:18px;
        line-height: 26px;
    }
}
@media (max-width:374px){ 
    .strongspan{
        margin-top:20px;
    }
/*
    .header{
        height:100vh;
    }
*/
    .successP{
        font-size:15px;
    }
    .try2{
        font-size:20px;
        line-height: 22px;
        padding-bottom: 5px;
    }
    .try2>span{
        font-size:16px;
        line-height: 22px;
    }
    .bottomlink{
        font-size: 12px;
    }
    .copy{
        font-size: 10px;
    }

}
@media (max-width:350px){
    .rightWrap>span{
        font-size: 60px;
        line-height: 94%;
    }
    .levelup{
        font-size: 24px;
        line-height: 22px;
        letter-spacing: 1px;
    }
    .gifttext{
        font-size: 10px;
    }
    .giftimg{
        height:20px!important;
    }
}